{% extends "base.html" %}
{% block main %}
<h2>Students</h2>
<table class="table" >
    <thead>
        <tr>
            <th>Student Id</th>
            <th>Name</th>
            <th>Date Of Birth</th>
            <th>Gender</th>
            <th>Address</th>
            <th>Telephone</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ student.std_id }}</td>
            <td>{{ student.name }}</td>
            <td>{{ student.dob }}</td>
            <td>{{ student.gender }}</td>
            <td>{{ student.address }}</td>
            <td>{{ student.telephone }}</td>
        </tr>
    </tbody>

</table>
{% endblock %}